JewelryHunter/.vscode
JewelryHunter/.idea
JewelryHunter/.vs
JewelryHunter/Assembly-CSharp.csproj
JewelryHunter/.DS_Store
JewelryHunter/JewelryHunter.sln
JewelryHunter/obj
JewelryHunter/Logs
JewelryHunter/Library
JewelryHunter/Temp/
JewelryHunter/Assembly-CSharp-Editor.csproj
JewelryHunter/Assembly-CSharp-firstpass.csproj
JewelryHunter/Build/
JewelryHunter/UniSideGame_BurstDebugInformation_DoNotShip/
